$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$link-color: #9d9d9d;

$sub-bar-height: 90px;
$button-height: 34px;

$navbar-height: 66px;

html, body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
}

/*
  MAIN
*/

#logo-row {
  margin: 0;
  padding-bottom: 0.1em;
  height: 150px;
}

.site-content {
  //position: absolute;
  top: 66px;
  right: 0;
  left: 0;
  bottom: 0;
  padding-top: 0;
  -webkit-overflow-scrolling: touch;
  line-height: 25em;
  /*overflow: hidden;*/
}

.site-container {
  display: flex;
  flex-direction: column;
  //overflow: auto;
}

.div1 {
  background-color: red;
}


.div2 {
  background-color: mediumspringgreen;
}

.div3 {
  background-color: indigo;
}

.page-content {
  padding-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}


.page-content {
  padding-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.filter-button {
  margin-right: 5px;
  display: inline-block;
}


/*
    NAVBAR
*/

.header {
  position: static;
  left: 0;
  right: 0;
  height: 66px;

  line-height: 66px;

  color: #FFF;
  background-color: #333;
}

.header__logo {
  color: #D32F2F;
  font-weight: bold;
  font-size: 1.4em;
  padding: 0 25px;
  float: left;
}

.header__logo a {
  text-decoration: none;
  color: #9d9d9d;
}

.menu {
  float: left;
}

.menu-right a,
.menu a {
  padding: 0 10px;
  text-decoration: none;
  color: #9d9d9d;
}

.menu-right a:hover,
.menu a:hover {
  color: whitesmoke;
}

.menu-right {
  float: right;
  padding-right: 20px;
}

/*
    RESPONSIVE
*/

@media only screen and (max-width: 750px) {

  .header {position: static;}
  .site-content {
    position: absolute;
    top: 66px;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
  }
  .site-pusher {
    height: 100%;
    transition-duration: 0.3s;
    transform: translateX(0px);
  }

  .header__icon {
    position: relative;
    display: block;
    float: left;

    cursor: pointer;

    width: 50px;
    height: 66px;
  }

  .header__icon:after {
    content: '';
    position: absolute;
    display: block;
    width: 16px;
    height: 0px;
    top: 16px;
    left: 15px;
    box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white;
  }

  .menu {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;

    background-color: #333;

    width: 250px;
    z-index: 10;

    transform : translateX(-250px);
  }

  .menu a {
    display: block;
    height: 40px;

    text-align: center;
    text-decoration: none;
    line-height: 40px;

    border-bottom: 1px solid whitesmoke;
  }

  .with--sidebar .site-pusher {
    transform : translateX(250px);
  }

  .with--sidebar .site-cache {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right:  0;
    background-color: rgba(0,0,0,0.6);
  }

  .mobile-hide{ display: none; }
}

/*
  CALENDAR
*/

.calendar-month-header {
  display: flex;
  justify-content: space-around;
}

.calendar-month-row {
  display: flex;
  justify-content: space-around;
}

.calendar-row-content {
  flex: 1;
}

.calendar-days-content {
  min-height: 135px;

  li {

    list-style-type: none;

  }

  ul {
    padding-left: 10px;
  }
}

.center {
  text-align: center;
}

.calendar-days-header,
.calendar-blank-days,
.calendar-days {
  border: 1px solid #90A4AE;
}


.calendar-blank-days,
.calendar-days {
  height: 115px;
}

.calendar-days-tr-up {
  padding-right: 5px;
}

.calendar-blank-days {

}
.calendar-days {

}

.calendar-days-header {
  text-align: center;
  font-size: medium;
  padding: 5px;
}

.calendar-days-tr-up {
  text-align: right
}

.calendar-days-tr-up {
  font-weight: bold;
  font-size: 1.5em;
}

.calendar-days-header {
  //height: 2.5em;
  //width: 10em;
}

.calendar-container .page-content {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.calendar-event-count-wrapper {
  position: absolute;
  min-height: 75px;
}

.calendar-event-count {
  position: absolute;
  bottom: 0;
  padding: 0.5em;
}

.calendar-event-plus-wrapper {
  position: relative;
}

.calendar-event-plus {
  position: absolute;
  bottom: 0;
  right: 0;
  /* left: 15em; */
  padding: 0.5em;
}
/*
  END OF CALENDAR
*/




.input-addon {
  width: 40px;
}

.login-container .well{
  margin-top: 33px;
  border-radius: 5px;
  border-width: 1px;
  border: 1px solid #ccc;
  box-shadow: 1px 2px 5px 1px grey;
}

/*
  NAVBAR
*/

.navbar-dropdown {
  position: relative;
  display: inline-block;
}

.navbar-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 230px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 5px 5px 0px 5px;

  line-height: 0px !important;
  top: $navbar-height;
  right: 0;
  z-index: 200 !important;
}

.navbar-dropdown-group {

  padding: 5px 5px 0px 5px;

  a {
    display: block;
    height: 45px;

    text-align: center;
    text-decoration: none;
    line-height: 45px;

    color: $link-color;

    border-bottom: 1px solid #EFEFEF;

  }
}

.navbar-dropdown-list {

  display: -webkit-flex;
  -webkit-flex-direction: row;

  display: flex;
  //flex-direction: row;
  justify-content: space-around;


}

.__logo__ {
  -webkit-flex: 1;
  flex: 1 1;
}

.__text__ {
  -webkit-flex: 1 1;
  flex: 1 1;

  text-align: right;
  font-size: medium;

  margin-top: 1.9vh;
  transform: translateY(-50%);
}


/*
  SUBBAR
*/

.sub-bar-component-centered {
  padding-top: ($sub-bar-height / 2) - ($button-height /2) - 5;
}

.align-right {
  text-align: right;
}

/*
  ALERT
*/

.alert-message {
  font-size: medium;
}

@media only screen and (max-width: 750px) {

  .alert-message {
    display: none;
  }
}

/*
  DATEPICKER OVERRIDE
*/

.react-datepicker__input-container {
  width: 100% !important;
}

/*
  COMMENT BOX
*/

.comment-box {
  resize: none;
}

/*
  UTILS
*/

.hide {
  display: none;
}
