/*
 * Base structure
 */



a {
    color: #00B7FF;
    text-decoration: none;
}

.container {
    overflow: hidden;
    width: 100%;
}

.link-active {
    color: darkred;
    text-decoration: none;
}

.pointer {
    cursor: pointer;
}

/*
    COLORS
*/
.site-color{color: #D32F2F;}
.green {color: #4CAF50;}
.yellow {color: #ffc107;}
.orange {color: #ff9800;}
.red {color: #F44336;}
.success {color: #2E7D32;}
.danger {color: #F44336;}




/*
    SUB BAR
*/

#searchInput {
    margin: auto;
}

.sub-bar {
    background: #B0BEC5;
    height: 90px;
}

.sub-bar-component {
    padding-top: 15px;
}

.navigation-sub-row {
    margin-top: 5px;
}

.inline-ul {
    padding-left: 0;
}

/*
 * Main content
 */

.main {
    padding: 20px;
}

.main .page-header {
    margin-top: 0;
}

.container-fluid > .navbar-header {
    margin-right: 0px;
    margin-left: 15px;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.productsTable {
    overflow: auto;
}