/*
 * Base structure
 */



a {
    color: #00B7FF;
    text-decoration: none;
}

.container {
    overflow: hidden;
    width: 100%;
}

.link-active {
    color: darkred;
    text-decoration: none;
}

.pointer {
    cursor: pointer;
}

/*
    COLORS
*/
.site-color{color: #D32F2F;}
.green {color: #4CAF50;}
.yellow {color: #ffc107;}
.orange {color: #ff9800;}
.red {color: #F44336;}
.success {color: #2E7D32;}
.danger {color: #F44336;}




/*
    SUB BAR
*/

#searchInput {
    margin: auto;
}

.sub-bar {
    background: #B0BEC5;
    height: 90px;
}

.sub-bar-component {
    padding-top: 15px;
}

.navigation-sub-row {
    margin-top: 5px;
}

.inline-ul {
    padding-left: 0;
}

/*
 * Main content
 */

.main {
    padding: 20px;
}

.main .page-header {
    margin-top: 0;
}

.container-fluid > .navbar-header {
    margin-right: 0px;
    margin-left: 15px;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.productsTable {
    overflow: auto;
}


/*
    TAGS
*/

li.tag {
    list-style: none;
    display: inline-block;
    padding: 0.25rem 0.75rem;
    margin: 2px;
    border-radius: 3px;
    background: #4CAF50;
    color: #E8F5E9;
}

li.tag:hover {
    cursor: pointer;
    background: #43A047;
}

li.model-tag {
    list-style: none;
    display: inline-block;
    padding: 0.25rem 0.75rem;
    margin: 2px;
    border-radius: 3px;
    background: #e53935;
    color: #ffebee;
}

span.inline {
    background-color: red;
    display: inline;
}

/*
  CART
*/

.cart-dropdown {

    position: fixed;
    right: 0;
    top: 66px;
    bottom: 0;

    padding: 15px;

    background-color: #ECEFF1;

    width: 250px;
    height: 100%;
    z-index: 10;

    transform : translateX(300px);

    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*right: 0;*/
    /*width: 250px;*/
    /*margin: 0;*/

    /*list-style-type: none;*/
    /*border: 1px solid #aaa;*/
    /*font-family: Helvetica, sans-serif;*/
    /*font-weight: 300;*/
    /*font-size: 16px;*/
    /*border-bottom-left-radius: 4px;*/
    /*border-bottom-right-radius: 4px;*/
    /*z-index: 3;*/

    /*background-color: red;*/
}

.cart-dropdown .row {
    padding-left: 0;
    padding-right: 0;
}

/*.cart-pusher {*/
    /*overflow-x: hidden;*/
    /*height: 100%;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*transition-duration: 0.3s;*/
    /*transform: translateX(0px);*/
/*}*/

.with--cart .cart-dropdown {
    transition-duration: 0.3s;
    transform: translateX(0px);
}


/*.with--cart {*/

    /*-webkit-animation: cart-pusher2 300ms ease-in-out;*/
    /*-webkit-animation-fill-mode: forwards;*/
    /*-webkit-transform: translateX(0);*/
/*}*/

/*@-webkit-keyframes cart-pusher2 {*/
    /*to {*/
        /*-webkit-transform: translateX(-300px);*/
    /*}*/
/*}*/


/* autosuggest css */

.react-autosuggest__container {
    position: relative;
}

.react-autosuggest__input {
    width: 240px;
    height: 30px;
    padding: 10px 20px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.react-autosuggest__input:focus {
    outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
    position: absolute;
    top: 51px;
    width: 280px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
}

.react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
}

.react-autosuggest__suggestion--focused {
    background-color: #ddd;
}

.react-autosuggest__section-title {
    padding: 10px 0 0 10px;
    font-size: 12px;
    color: #777;
    border-top: 1px dashed #ccc;
}

.react-autosuggest__section-container:first-child .react-autosuggest__section-title {
    border-top: 0;
}

.react-autosuggest__section-suggestions-container {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/*#app {*/
/*!*display: flex;*!*/
/*!*align-items: flex-start;*!*/
/*}*/

/*.container {*/
/*width: 330px;*/
/*color: #000;*/
/*background-color: #6D86ED;*/
/*margin-right: 40px;*/
/*}*/

/*.suggestionsContainer {*/
/*background-color: #F2D8D7;*/
/*}*/

/*.suggestion {*/
/*background-color: #FBF9FF;*/
/*margin-top: 15px;*/
/*}*/

/*.sectionContainer {*/
/*background-color: #A28EED;*/
/*margin-top: 15px;*/
/*}*/

/*.sectionTitle {*/
/*background-color: #BAADED;*/
/*margin-top: 15px;*/
/*}*/

/*.sectionSuggestionsContainer {*/
/*background-color: red;*/
/*margin-top: 15px;*/
/*}*/

/*li.react-autosuggest__suggestion {*/
/*list-style: none;*/
/*}*/
